@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
* {
  margin: 0;
  padding: 0;
}
html,
body {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: #d3a03e;
  width: 100%;
  height: 100%;
  font: 100% / 1.5 'Source Sans Pro', sans-serif;
  color: #3a3535;
  font-size: 100%;
}
/* Fonts */
a {
  text-decoration: none;
}
/* Background */
body > img {
  z-index: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
}
body > div.bg-infinite {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
}
body > div.bg-infinite > div.bg-infinite-1 {
  flex-grow: 1.023;
  background-color: #d3a03e;
}
body > div.bg-infinite > div.bg-infinite-2 {
  flex-grow: 2.055;
  background-color: #364949;
}
body > div.bg-infinite > div.bg-infinite-3 {
  flex-grow: 1;
  background-color: #d3a03e;
}
/* Navigations */
.nav-main,
.footer {
  position: fixed;
  display: flex;
  z-index: 1;
  width: 100%;
}
.nav-main {
  top: 0;
  height: 60px;
  background-color: #d3a03e;
  box-shadow: 0 0.3em #3a3535;
}
.nav-main > div,
.footer > div {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0 .5em;
}
.nav-main > div > a {
  color: #3a3535;
}
.nav-main > div.brand > a {
  font-size: 150%;
  font-weight: bold;
  color: #b0241a;
}
.nav-main > div:hover {
  background-color: #b58529;
}
.nav-main > div.brand:hover {
  background-color: #d3a03e;
}
/* Footer */
.footer {
  bottom: 0;
  height: 60px;
  background-color: #e6e1cb;
  box-shadow: 0 -0.1em #554d4d;
}
.footer > div.powered-by > a {
  color: #554d4d;
}
/* Detail menu */
.nav-hero {
  position: fixed;
  display: flex;
  z-index: 1;
  top: 43%;
  width: 100%;
  justify-content: center;
  font-size: 150%;
}
/* Tagline */
.tagline {
  position: fixed;
  display: flex;
  z-index: 1;
  top: 33%;
  width: 100%;
  justify-content: center;
  font-size: 250%;
  color: #d3a03e;
  text-shadow: 1px 1px 2px black;
}
/* Fancy buttons */
figure {
  width: 200px;
  height: 60px;
  cursor: pointer;
  perspective: 500px;
  -webkit-perspective: 500px;
  margin: 0 1em;
}
figure div {
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}
figure:hover div {
  transform: rotateX(-90deg);
}
figure span {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  border: 5px solid #554d4d;
  font-family: ;
  line-height: 50px;
  font-size: 17pt;
  text-align: center;
}
figure span:nth-child(1) {
  color: #3a3535;
  background: #e6e1cb;
  transform: translate3d(0, 0, 30px);
  -webkit-transform: translate3d(0, 0, 30px);
}
figure span:nth-child(2) {
  background: #dcb468;
  transform: rotateX(90deg) translate3d(0, 0, 30px);
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
  text-transform: uppercase;
}
figure span:nth-child(2) > a {
  color: #3a3535;
}
