
    <div class="homepage-footer well container-fluid">
      <div class="container">
        <div class="row">
          <div class="span5 offset1">
            <?php if (!empty($options['links'])) { ?>
              <ul class="footer-nav">
                <?php foreach($options['links'] as $name => $url) { ?>
                  <li><a href="<?php echo $url;?>" target="_blank"><?php echo $name;?></a></li>
                <?php } ?>
              </ul>
            <?php } ?>
          </div>
          <div class="span5">
            <div class="pull-right">
             <!-- Footer right --> 
            </div>
          </div>
        </div>
      </div>
    </div>
