{% assign url = page.url | remove:'.html' %}
<header class="nav-main">
  <div class="brand">
    <a href="/">
      <img class="main-logo" src="/img/logo.png" alt="Planetary Technology">
    </a>
  </div>
  <div class="nav-main-links hidden-xs">
    {% for link in site.navigation %}
      <a href="{{link.url}}" title="{{link.title}}" {% if url == link.url %}class="active"{% endif %} >{{link.text}}</a>
    {% endfor %}
  </div>
  <div class="burger-icon visible-xs" onClick="$(body).toggleClass('modal-open');">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="nav-main-mobile">
    {% for link in site.navigation %}
      <a href="{{link.url}}" title="{{link.title}}" {% if url == link.url %}class="active"{% endif %} >{{link.text}}</a>
    {% endfor %}
  </div>
  <div class="clearfix"></div>
</header>