@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700,700i');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700,700i');

// COLORS
$color-accent: #E44A66;
$color-primary: #78A15D;
$color-dark: #000000;
$color-light: #D3E8E1;

// SIZES
$size-side-nav-width: 150px;

body {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: $color-dark;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

a {
  text-decoration: none !important;
}

.h-100 {
  height: 100%;
}

// Margins
@include margin(0);
@include margin(20);
@include margin(40);

// Paddings
@include padding(0);
@include padding(20);
@include padding(40);

.main-container {
  min-height: calc(100vh - 30px);
}