@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700,700i');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700,700i');

// COLORS
$color-accent: #E44A66;
$color-primary: #78A15D;
$color-secondary: #AAAAAA;
$color-dark: #000000;
$color-light: #D3E8E1;

// SIZES
$size-side-nav-width: 150px;
$size-nav-height: 72px;

body {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: $color-dark;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

a {
  text-decoration: none !important;
}

.h-100 {
  height: 100%;
}

.capitalize {
  text-transform: capitalize;
}

// Margins
@include margin(0);
@include margin(20);
@include margin(40);

// Paddings
@include padding(0);
@include padding(20);
@include padding(40);

.main-container {
  min-height: calc(100vh - 30px);
}

.github-ribbon {
  position: fixed;
  bottom: 0;
  left: 0;
  border: 0;
  width: 120px;
}

@media (max-width: 767px) {
  .github-ribbon {
    width: 100px;
  }
}

/* JUST FOR FUN :) --------------------------------------------------------*/
$red: #ffd07f;
$green: #7af482;
$blue: #7fb6ff;
$yellow: #f4ce7a;

h1.fancy > span {
	color:$blue;
	animation:glow 6s infinite;
	-webkit-animation:glow 6s infinite;
	text-shadow:
		-1px -1px 0 #000,  
		 1px -1px 0 #000,
		-1px 1px 0 #000,
		 1px 1px 0 #000;
}

h1.fancy > span:nth-child(1){animation-delay:-0.5s;-webkit-animation-delay:-0.5s;}
h1.fancy > span:nth-child(2){animation-delay:-1s;-webkit-animation-delay:-1s;}
h1.fancy > span:nth-child(3){animation-delay:-1.5s;-webkit-animation-delay:-1.5s;}
h1.fancy > span:nth-child(4){animation-delay:-2s;-webkit-animation-delay:-2s;}
h1.fancy > span:nth-child(5){animation-delay:-2.5s;-webkit-animation-delay:-2.5s;}
h1.fancy > span:nth-child(6){animation-delay:-3s;-webkit-animation-delay:-3s;}

@-webkit-keyframes glow {
  0% {
	color:$blue;
  }
  25% {
	color:$green;
  }
  50% {
	color:$red;
  }
  75% {
	color:$yellow;
  }
}
@keyframes glow {
  0% {
	color:$blue;
  }
  25%{
	color:$green;
  }
  50%{
	color:$red;
  }
  75%{
	color:$yellow;
  }
}
