.footer {
  text-align: right;
    padding: 0 20px;

  .powered-by {
    line-height: 30px;
    font-size: 12px;
    vertical-align: top;
    color: #000;
  }
}

body.landing {
  .footer {
    background-color: $color-primary;

    .powered-by {
      color: #fff;
      z-index: 10;
      position: relative;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 0 15px;
  }
}