.button {
  display: inline-block;
  padding: 6px 15px;
  border-radius: 30px;
  background-color: #fff;
  color: $color-dark;
  min-width: 150px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    text-decoration: none;
    color: #fff;
    background-color: $color-accent;
  }
}