<!doctype html>
<html lang="en">
  <head>
    {% include includes.html %}
  </head>
  <body class="landing">
    {% include header.html %}
    <div class="main-container">
      <div class="sketch-container">
        <img class="sketch" src="/img/landing-sketch.png" alt="Planetary Technology">
      </div>
      <div class="content-container">
        <h2 class="main-heading">All you need for a..</h2><br>
        <h1 class="main-heading fancy">
			<span>Pla</span><span>net</span><span>ary</span> <span>Sett</span><span>lem</span><span>ent!</span>
		</h1>
        <p class="main-description">
          *Currently our safty guarantee is only valid if placed on planet earth.
        </p>
        <div class="action-container">
          <a href="{{site.github_url}}" class="button" target="_blank">View on Github</a>
          <a href="/docs" class="button">Documentation</a>
          <a href="/blog" class="button">Blog</a>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
