<!doctype html>
<html lang="en">
	<head>
		{% include includes.html %}
	</head>
	<body>
		
		<!-- Background -->
		<div class="bg-infinite">
			<div class="bg-infinite-1"></div>
			<div class="bg-infinite-2"></div>
			<div class="bg-infinite-3"></div>
		</div>
		<img src="{{site.background}}" alt="background">

		<!-- Header and Footer -->
		{% include header.html %}
		{% include footer.html %}

		<!-- Tagline -->
		<div class="tagline">
			<h2>{{site.name}}</h2>
		</div>

		<!-- Hero menu -->
		<div class="nav-hero">
			<figure>
				<div>
					<span>View On GitHub</span>
					<span>
						<a href="https://github.com/{{site.repo}}" class="btn btn-secondary btn-hero">View On GitHub</a>
					</span>
				</div>
			</figure>
			<figure>
				<div>
					<span>Documentation</span>
					<span>
						<a href="docs.html" class="btn btn-primary btn-hero">Documentation</a>
					</span>
				</div>
			</figure>
			<figure>
				<div>
					<span>Blog</span>
					<span>
						<a href="posts.html" class="btn btn-secondary btn-hero">Blog</a>
					</span>
				</div>
			</figure>
		</div>	
	</body>
</html>
