<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>  <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>  <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    {% include includes.html %}
  </head>
  <body>
    <!-- Docs -->
    <div class="container-fluid fluid-height wrapper">
      {% include header.html %}

      <div class="row-fluid columns content">
        <div class="left-column article-tree span3">
          <!-- For Mobile -->
          <div class="responsive-collapse">
            <button type="button" class="btn btn-sidebar" id="menu-spinner-button">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="sub-nav-collapse" class="sub-nav-collapse">
            {% include nav.html %}
          </div>
        </div>
        <div class="right-column content-area span9">
          <div class="content-page">
            <article>
              <div class="page-header sub-header clearfix">
                <h1>{{page.title}}</h1>
                <span style="float: left; font-size: 10px; color: gray;">{{ page.date | date_to_string }}</span>
              </div>
              {{ content }}
            </article>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
