<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>  <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>  <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    {% include includes.html %}
  </head>
  <body class="blog">
    {% include header.html %}
    <!-- Docs -->
    <div class="main-container container">
      <div class="side-container hidden-xs">
        {% include nav_posts.html %}
      </div>
      <div class="content-container">
        <div class="content-page">
          <article>
            <div>
              <h1>{{page.title}}</h1>
              <p class="post-date">{{page.date | date: '%d %B %Y'}}</p>
            </div>
            {{ content }}
          </article>
        </div>
      </div>
    </div>
    {% include footer.html %}
    <div class="sub-nav visible-xs">
      <div class="nav-btn" onclick="$('body').toggleClass('navigation-open')">
        NAVIGATE BLOG
        <span class="chevron">
          <span></span>
          <span></span>
        </span>
      </div>
      {% include nav_posts.html %}
    </div>
  </body>
</html>
