<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>  <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>  <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    {% include includes.html %}
  </head>
  <body class="docs">
    {% include header.html %}
    <!-- Docs -->
    <div class="main-container container">
      <div class="side-container hidden-xs">
        {% include nav_docs.html %}
      </div>
      <div class="content-container">
        <div class="content-page">
          <article>
            <div>
              <h1 class="capitalize">{{ page.collection }}</h1>
            </div>
            <ul>
            {% for collection in site.collections %}
            {% if collection.label == page.collection %}
            {% for document in collection.docs %}
            {% if document.layout != "project_index" %}
              <li>
                <a href="{{ document.url }}">{{ document.title }}</a>
              </li>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
            </ul>
          </article>
        </div>
      </div>
    </div>
    {% include footer.html %}
    <div class="sub-nav visible-xs">
      <div class="nav-btn" onclick="$('body').toggleClass('navigation-open')">
        NAVIGATE DOCUMENTATION
        <span class="chevron">
          <span></span>
          <span></span>
        </span>
      </div>
      {% include nav_docs.html %}
    </div>
  </body>
</html>

